.cartContainer h1 {
  color: rgb(159, 159, 159);
}


.productListContainer {
  display: flex; /* Habilita Flexbox */
  flex-direction: column; /* Los elementos hijos se apilan verticalmente */
  justify-content: flex-start; /* Centra los elementos hijos a lo largo del eje vertical */
  align-items:flex-start; /* Centra los elementos hijos a lo largo del eje horizontal */
  width: fit-content;
  margin-top: 80px;
  overflow-y: auto;
  height: 700px;


}

.productItem {
    display: grid;
    grid-template-columns: 1fr auto 1fr 1fr 1fr; 
    align-items: center;
    width: 1350px;
    border-bottom: 1px solid grey;
    margin-top: 10px;
  }
  
  .productImage {
    width: 110px; 
    height: 110px; 
  }
  
  .productInfo {
    display: grid;
    grid-template-columns: auto 2fr 1fr 1fr 2fr;   
    gap: 220px;
    
  }

  .productInfo td{
    padding: 70px;
  }
  
  .productName,
  .productPrice,
  .productQuantity,
  .productSize {
    margin: 0px;
    color: rgb(159, 159, 159);
    text-align: left;
  }
  
  
  .productName {
    font-weight: bold;
    color: rgb(159, 159, 159);
    margin-left: 20px;
    font-size: medium;
    max-width: 1px;
  }
  
  
  .productPrice {
    font-weight: bold;
    color: rgb(159, 159, 159);
  }
  
  .productQuantity {
    color: rgb(159, 159, 159);
  }
  
  .productSize {
    color: rgb(159, 159, 159);
  }

  .totalPriceContainer {
    position: absolute; 
    top: 0; 
    right: 0;
    display: flex;
    width: 300px;
    height: 500px;
    margin-top: 340px;
    margin-right: 50px;
    color: white;
    flex-direction: column;
}

.totalPriceContainer h2 {
  margin-right: 1000px;
}

.buyButton {
  height: 50px;
  border-radius: 0px;
  width: 200px;
  margin-top: 20px;
  background-color: red;
  color: white;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  font-size: 1.5em;
  color: white;
  margin-left: 0px;
}

.deleteButton{
  width: 60px;
  height: 50px;
  background-color: black;
  color: red;
  font-size: x-large;
  border: none;
  outline: none;
}

.deleteButton:hover,
.deleteButton:focus {
  outline: none;
  border: none;
}

.recommendedProductsContainer {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.recommendedProductsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.recommendedProductItem {
  flex: 0 0 calc(20% - 10px);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.recommendedProductItem:hover{
  transform: scale(1.03);
}

.recommendedLink {
  color: black;
  text-decoration: none;
}

.recommendedImage {
  width: 350px;
  height: 350px;
  margin-top: 20px;
}


.recommendedName {
  margin: 10px 0;
}

.recommendedPrice {
  color: #888;
}

.recommendedProductsContainer h2 {
  color: white;
}

.formButton {
 
  height: 10px;
border-radius: 0px;
width: 100px;
margin-top: 20px;
background-color: #161616;
color: red;
outline: none;
border: none;
margin-left: 500px;
font-size: x-large;

}


.formButton:hover {
  outline: none;
  border: none;
}

.modal::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  z-index: -1;
}




 


  
  
  
  
  
  