.footerContainer {
    margin-top: 100px;
  }

  .footer {
    width: 100%;
    height: 250px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616; /* Ajusta esto para cambiar el color de fondo del pie de página */
    color: #fff; /* Ajusta esto para cambiar el color del texto del pie de página */
    box-sizing: border-box;
    position: absolute;
    left: 0;
    
  }

.column {
  flex: 1;
}

.column h3 {
  margin-bottom: 10px;
}

.column ul {
  list-style-type: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 5px;
}

.column ul.socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-left: 100px;
  }
  .column1{
    flex: 1;
  }
  .column1 h3 {
    margin-bottom: 10px;
  }
  
  .column1 ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 122.5px;
  }
  
  .column1 ul li {
    margin-bottom: 5px;
  }

  .socials li svg {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
  
  .rightContent {
    margin-right: 40px; 
  }

 .column img {
  width: 300px;
  height: 100%;
  margin-top: 20px;
 }
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  color: #F93822;

}

@media(max-width: 1024px) {
  .footer {
    justify-content: center;
    align-items: center;
  }

  .column {
    margin-bottom: 20px;
    
  }

  .column ul.socials {
    margin-left: 150px;
  }

  .rightContent {
    margin-right: 10px;
  }

  .column img {
    width: 200px;
  }

}