@font-face {
  font-family: 'Gotham';
  src: url('../../assets/GothamRnd-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.totalContainer {
  font-family: Gotham;
}

.loader {
  display: flex; /* Hace que los elementos dentro del contenedor se alineen en una fila */
  justify-content: center; /* Centra horizontalmente los elementos en el contenedor */
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
  height: 100vh; /* Opcional: hace que el contenedor ocupe toda la altura de la pantalla */
  }
  .container {
    display: grid;
    place-items: center; /* Esto centra el contenido vertical y horizontalmente */
    margin: 20px; /* Agrega margen alrededor del contenedor si es necesario */
}
.containerBar {
    display: grid;
    place-items: center; /* Esto centra el contenido vertical y horizontalmente */
    margin: 20px; /* Agrega margen alrededor del contenedor si es necesario */
    font-family: Gotham;
}
.containerTable{
    display: grid;
    place-items: center; /* Esto centra el contenido vertical y horizontalmente */
    

}
.select {
  width: 300px; /* Hace que los inputs ocupen todo el ancho disponible */
    padding: 10px; /* Agrega un poco de espacio alrededor del texto en los inputs */
    font-size: 16px; /* Hace que el texto en los inputs sea un poco más grande */
    border-radius: 0; /* Elimina el borde redondeado de los inputs */
    background-color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}

.details {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 200px;
}

.table {
  width: 600px;
  border-collapse: collapse;
  
}


th, td {
  border: 1px solid #ddd;
  padding: 6px;
  font-size: 14px;
}

th {
  background-color: #e34a4a;
}

th, td {
  text-align: left;
}

.containerData{
  display: grid;
  place-items: center; /* Esto centra el contenido vertical y horizontalmente */
  margin: 20px; /* Agrega margen alrededor del contenedor si es necesario */
}	
.disabledArticlesContainer {
  display: flex;
  flex-wrap: wrap;
}
.disabledArticleImage {
  opacity: 0.5; /* Establece la opacidad deseada */
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 10px;
}
.disabledArticleImage:hover {
  opacity: 1; /* Establece la opacidad deseada */
  box-shadow: 0 0 10px rgba(250, 250, 250, 0.9); /* Agrega una sombra alrededor de la imagen */
}

@media (min-width: 770px) and (max-width: 1024px) {
  .disabledArticlesContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px; /* Ajusta este valor según tus necesidades */
  }
}

