
.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: black;
    
  }

  .ant-menu-item-selected {
    color: red !important;
  }
  
  

  @media (min-width: 768px) {
    .container {
      flex-direction: row; 
    }
  
    .ant-layout-sider {
      width: 200px; 
    }
  }
  

  @media (min-width: 1440px) {
    .ant-layout-sider {
      width: 250px; 
    }
  }

  @media (min-width: 1900px) {
    .ant-layout-sider {
      width: 300px; 
    }
  }