/* Contact.module.css */

.contactContainer {
    color: white;
    
  }
  
  .contactInfo {
    width: 820px;
    margin-top: 110px;
  }
  
  .contactInfo p {
    margin-bottom: 10px;
  }
  
  .socialLinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .socialLinks li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .socialLinks li a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .contactForm {
    width: 800px;
    justify-content: center;
    margin-right: 100px;
    margin-left: 40px;
  }
  
  .contactForm form {
    display: flex;
    flex-direction: column;
  }
  
  .contactForm input,
  .contactForm textarea {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contactForm button {
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 130px;
    margin-left: 350px;
    transition: transform 0.3s;
  }
  .contactForm button:hover {
    transform: scale(1.1);
  }
  
  .contactForm textarea {
    background-color: #333;
    height: 100px;
  }
  


.containerInfoForm{
  display: flex;
  flex-direction: row;
}

.contactHeader {
  margin-bottom: 100px;
}

.contactHeader img {
 width: 120px;
 height: 100px;
}




