/* Contact.module.css */

.contactContainer {
    color: white;
  
  }
  
  .contactInfo {
    width: 820px;
    margin-top: 110px;
    
  }
  
  .contactInfo p {
    margin-bottom: 10px;
  }
  
  .socialLinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .socialLinks li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .socialLinks li a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .contactForm {
    width: 800px;
    justify-content: center;
    margin-right: 100px;
    margin-left: 40px;
  }
  
  .contactForm form {
    display: flex;
    flex-direction: column;
  }
  
  .contactForm input,
  .contactForm textarea {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contactForm button {
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 130px;
    margin-left: 350px;
    transition: transform 0.3s;
  }
  .contactForm button:hover {
    transform: scale(1.1);
  }
  
  .contactForm textarea {
    background-color: #333;
    height: 100px;
  }
  


.containerInfoForm{
  display: flex;
  flex-direction: row;
  
}

.contactHeader {
  margin-bottom: 100px;
}

.contactHeader img {
 width: 120px;
 height: 100px;
}

.map{
  width: 800px;
  height: 700px;
  border: 0;
  margin-top: 20px;
}
@media (max-width: 390px) {
  .contactContainer {
    color: white;
    
  }
  .containerInfoForm{
    display: flex;
    flex-direction: column;
    
  }

  .contactInfo {
    width: 220px;
    margin-top: 90px;
    margin-bottom: 60px;
    margin-left: 50px;
    
  }
  .contactInfo p {
    margin-bottom: 10px;
    font-size: small;
  }

  .contactHeader {
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .contactForm {
    width: 300px;
    justify-content: center;
    margin-right: 120px;
    margin-left: 35px;
  }

  .contactForm button {
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 130px;
    margin: auto;
    margin-left: 95px;
    transition: transform 0.3s;
    margin-top: 20px;
  }

  .contactForm h3 {
    margin-left: 15px;
  }

  .map{
    width: 340px;
    height: 700px;
    border: 0;
    margin-top: 20px;
  }
}

@media (min-width: 430px) and (max-width: 768px) {
  .contactContainer {
    color: white;
    
  }
  .containerInfoForm{
    display: flex;
    flex-direction: column;
    
  }

  .contactInfo {
    width: 220px;
    margin-top: 90px;
    margin-bottom: 60px;
    margin-left: 45px;
    
  }
  .contactInfo p {
    margin-bottom: 10px;
    font-size: medium;
  }

  .contactHeader {
    margin-top: 100px;
    margin-bottom: 70px;
    
  }

  .contactForm {
    width: 300px;
    justify-content: center;
    margin-right: 120px;
    margin-left: 55px;
  }

  .contactForm button {
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 130px;
    margin: auto;
    margin-left: 95px;
    transition: transform 0.3s;
    margin-top: 20px;
  }

  .contactForm h3 {
    margin-left: 15px;
  }

  .map{
    width: 380px;
    height: 700px;
    border: 0;
    margin-top: 20px;
  }
}

@media (min-width: 770px) and (max-width: 1024px) {
  .containerInfoForm{
    display: flex;
    flex-direction: column;
    
  }

  .contactInfo {
    width: 220px;
    margin-top: 90px;
    margin-bottom: 60px;
    margin-left: 300px;
    
  }

  .map{
    width: 900px;
    height: 700px;
    border: 0;
    margin-top: 20px;
  }

  .contactForm {
    width: 800px;
    justify-content: center;
    margin-right: 120px;
    margin-left: 100px;
  }

  .contactHeader {
    margin-bottom: 100px;
    margin-left: 20px;
  }
  .contactForm h3 {
    margin-left: 20px;
  }
}


