.container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap:2em;
    
}
.card {
    height: 600px; /* Altura máxima de cada tarjeta */
    width: 800px; /* Ancho máximo de cada tarjeta */
    border-radius: 10px;
    padding: 10px;
    /* Agrega puntos suspensivos (...) cuando el texto se desborda */
    overflow: hidden; /* Oculta cualquier texto que desborde el ancho de la tarjeta */
    text-overflow: ellipsis;
    /* box-shadow: 0 0 5px rgba(239,51,64,1.00); Establece la sombra estilo "neón" */
    transition: box-shadow 0.3s ease;
  }
   
  .card:hover {
    /* 
    box-shadow: 0 0 10px rgba(239,51,64,1.00);Cambia la sombra al pasar el cursor sobre la tarjeta 
    */
    transform: scale(1.07);  
}

  .name{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
    
  }
  .description{
    font-size: 16px;
    text-align: center;
    
  }
  .price{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .imgCard {
    padding-top: 50px;
    width: 100%; /* Ajusta el ancho de la imagen al 100% de la tarjeta */
    height: 300px; /* Altura máxima de la imagen */
    object-fit: cover; /* Ajusta la imagen para que cubra todo el espacio disponible */
    border-radius: 10px;
  }
  
  @media (min-width: 768px) {
    .card {
      max-width: none; /* Ancho máximo de cada tarjeta cuando se muestra en computadoras */
      max-width: calc(25% - 20px); /* Ancho máximo de cada tarjeta para mostrar 4 tarjetas por fila con un espacio de 20px entre ellas */
    }
  }

  .loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    width: 70px;
    height: 70px;
  }
  
  