.price{
    color: rgb(255, 255, 255);
    font-size:x-large;
    font-weight: 200;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 160px;
    text-align: left;
}
.slider {
    width: 80%; 
}
@media (max-width: 768px) {
    .price{
        width: 100%;
        text-align: center;
        font-size: small;
    }
    .slider{
        width: 50%;      
    }
}