.detailsContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    text-align: left;
    width: 70%;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 350px;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top:16px;
    width: 500px;
   margin-right: 130px;
   margin-left: 50px;
  }

  .infoContainer h2 {
    margin-bottom: 0px; /* Ajusta este valor según tus necesidades */
  }

  .infoContainer h3 {
    margin-top: 40px;
    margin-bottom: 0px;
    margin-right: 280px;
  }

  .imgContainer {
  position: relative;
  margin-top: 40px;
  width: 60%;
  height: 690px;
  overflow: hidden;
  z-index: 0;
  border-right: 2.5px solid;
  border-left: 2.5px solid;
  border-top: 2.5px solid;
  border-bottom: 2.5px solid;
  border-color: rgb(66, 66, 66);
}

.imgContainer img {
  width: 720px;
  height: 730px;
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.imgContainer img:hover {
    transform: scale(1);
  }

  .imgContainer p{
    color: white;
  }

  .cartButton  {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: 2px solid red;
    cursor: pointer;
    margin-top: 50px;
    font-size: medium;
  }
  
  .cartButton:hover {
    outline: none;
    border: 2px solid rgb(195, 68, 68); /* Cambia el color del borde en lugar de eliminarlo */
    background-color: rgb(195, 68, 68);
  }


  .loader {
    width: 70px;
    height: 70px;
    margin-bottom: 300px;
  }

  .mobileButton {
    width: 300px !important;
}

  @media (max-width: 500px) {
    .detailsContainer {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 70%;
        padding-bottom: 20px;
        text-align: left;
        margin-right: auto; /* Elimina el margen derecho */
        margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
        margin-top: 100px;
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        color: white;
        margin-top: 16px;
        width: 300px;
        margin-right: auto; /* Elimina el margen derecho */
        margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
        
    }
    .imgContainer {
      position: relative;
      margin-top: 40px;
      margin-left: 22px;
      width: 320px;
      height: 800px !important;
      overflow: hidden;
      z-index: 0;
      border-right: 2.5px solid;
      border-left: 2.5px solid;
      border-top: 2.5px solid;
      border-bottom: 2.5px solid;
      border-color: rgb(66, 66, 66);
    }
    .description{
      font-size: small;
    }
    .sizeButtons {
      font-size: small;
      
    }

    
    
}
