
.imagenFiltrotabla,
.imagenFiltroaccesorio {
  width: 100%;
  max-width: 700px;
  margin: 20px 0; 
  transition: box-shadow 0.3s ease-in-out;
  height: 450px;
  margin-top: 70px;
  border: solid 1px grey;
  opacity: 0.3 !important; /* Opacidad inicial */
}

.imagenFiltrotabla:hover,
.imagenFiltroaccesorio:hover {
  opacity: 1 !important; /* Opacidad al hacer hover */
}

.categorys {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* Asegura que los elementos no se envuelvan a la siguiente línea */
  justify-content: space-around; /* Distribuye el espacio restante alrededor de los elementos */
  position: relative; 
}

.category {
  flex: 1; /* Los elementos crecerán y se encogerán para llenar el espacio restante */
  transition: transform 0.3s ease-in-out;
  z-index: 0;
  margin-top: 20px;
  margin-right: 240px;
  position: relative;
}

.category:before {

  position: absolute; /* Establece el posicionamiento absoluto */
  top: 50%; /* Posiciona el texto en la mitad vertical */
  left: 50%; /* Posiciona el texto en la mitad horizontal */
  transform: translate(-50%, -50%); /* Centra el texto */
  color: white; /* Color del texto */
  font-size: 20px; /* Tamaño de fuente del texto */
}

.category1 {
  flex: 1; /* Los elementos crecerán y se encogerán para llenar el espacio restante */
  transition: transform 0.3s ease-in-out;
  z-index: 0;
  margin-top: 20px;
  margin-left: 240px;
  position: relative;
  
}


.category1:before {
  
  position: absolute; /* Establece el posicionamiento absoluto */
  top: 50%; /* Posiciona el texto en la mitad vertical */
  left: 50%; /* Posiciona el texto en la mitad horizontal */
  transform: translate(-50%, -50%); /* Centra el texto */
  color: white; /* Color del texto */
  font-size: 20px; /* Tamaño de fuente del texto */
}

.categoryText,
.category1Text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
 
}

.categoryText::before,
.category1Text::before {
  content: '';
  position: absolute;
  bottom: -5px; /* Ajusta la posición de la línea debajo del texto */
  left: 50%; /* Centra horizontalmente la línea */
  transform: translateX(-50%); /* Centra horizontalmente la línea */
  width: 80%; /* Ancho de la línea */
  height: 2px; /* Altura de la línea */
  background-color: red; /* Cambia el color de la línea a rojo */
  opacity: 0; /* Por defecto, la línea no es visible */
  transition: opacity 0.3s ease, width 0.3s ease; /* Transición para la opacidad y el ancho */
}

.category:hover .categoryText::before,
.category1:hover .category1Text::before {
  opacity: 1; /* Hace visible la línea al hacer hover */
  width: 100%; /* Anima el ancho de la línea al hacer hover */
}




.recommendedProductsContainer {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
  
}

.recommendedProductsContainer h2 {
  font-weight: bold;
}

.recommendedProductsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.recommendedProductItem {
  flex: 0 0 calc(20% - 10px);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
  list-style-type: none;
}

.recommendedProductItem:hover{
  transform: scale(1.03);
}

.recommendedLink {
  color: black;
  text-decoration: none;
}

.recommendedImage {
  width: 350px;
  height: 350px;
  margin-top: 20px;
}


.recommendedName {
  margin: 10px 0;
}

.recommendedPrice {
  color: #888;
}

.recommendedProductsContainer h2 {
  color: white;
}
.topBoxesContainer {
  margin-top: -10px; /* Espacio entre los dos contenedores de cuadros */
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Distribuye el espacio restante alrededor de los elementos */
  height: fit-content;
}

.bottomBoxesContainer {
   /* Espacio entre los dos contenedores de cuadros */
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Distribuye el espacio restante alrededor de los elementos */
  margin-top: -105px;
  
}

.category1 .category1Text,
.category .categoryText {
  opacity: 1; /* Cambia la opacidad al hacer hover o siempre */
  text-transform: uppercase;
  font-family: Gotham;
  font-weight: 3000;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 70px;
  height: 70px;
}



@font-face {
  font-family: 'Gotham';
  src: url('../../assets/GothamRnd-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1800px) {
  
  .categorys {
    flex-direction: row;
  }

  .category {
    margin-right: 115px;
  }

  .category1 {
    margin-left: 115px;
  }

  .topBoxesContainer {
    flex-direction: row;
  }

  .bottomBoxesContainer {
    flex-direction: row;
  }
}

@media  (max-width: 1024px) {
  .categorys {
    flex-direction: column;
    justify-content: space-around;
  }

  .category {
    margin-right: 0;
    margin-top: 0px;
  }

  .category1 {
    margin-left: 0;
    margin-top: 110px;
  }

  .topBoxesContainer {
    flex-direction: column;
    margin-top: -10px;
    justify-content: space-around;
  }

  .bottomBoxesContainer {
    flex-direction: column;
    margin-top: -105px;
    justify-content: space-around;
  }
}

@media (max-width: 500px) {
  .categorys {
    flex-direction: column;
    justify-content: space-around;
  }

  .category {
    margin-right: 0;
    margin-top: 0px;
    height: 100px;
    width: 350px;
    margin-left: 20px;
  }

  .category1 {
    margin-left: 0;
    height: 100px;
    width: 350px;
    margin-left: 20px;
    height: auto;
  }

  .topBoxesContainer {
    flex-direction: column;
    margin-top: -10px;
    justify-content: space-around;
  }

  .bottomBoxesContainer {
    flex-direction: column;
    margin-top: -105px;
    justify-content: space-around;
  }

  .recommendedImage {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-right: 45px;
  }
  
  .recommendedName {
    margin: 10px 0;
    margin-right: 45px;
  }
  
  .recommendedPrice {
    color: white;
    font-size: small;
    margin-right: 45px;
  }
}



