.formContainer h1 {
  color: white;
  font-size: x-large;
  margin-bottom: 35px;
}

.formContainer img{
  width: 70px;
  height: 60px;
}

.inputContainer {
  display: flex;
  justify-content: space-between; /* Cambia la dirección de los elementos a una fila */
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; /* Divide el espacio disponible en dos */
}

.column input {
 
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 0;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 10px;
  max-height: 40px;
  
}

.column select {
 
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 0;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 10px;
  max-height: 40px;
  
}

input:focus {
  border: 1px solid red;
}

.formButton {
  margin-bottom: 20px;
  margin-top: 10px;
  height: 50px;
  border-radius: 0px;
  width: 200px;
  margin-top: 20px;
  background-color: red;
  color: white;
}

.formButton:hover{
  border: none;
  outline: none;
}

  